---
import Layout from '../layouts/Layout.astro'
---

<Layout title='404 Book Not Found'>
 <main class="max-w-4xl m-auto min-h-screen grid place-content-center">
  <h1 class="text-4xl my-5 text-center font-black">Book Not found</h1>
  <img src="https://media.giphy.com/media/3o7aDcz6Y0fzWYvwrq/giphy.gif" alt="404" width="100%" height="100%">
 </main>
</Layout>
